.groundDetails {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.groundDetails h1 {
  box-shadow: rgb(230, 92, 42) 0px 4px 4px;
  color: rgb(230, 92, 42);
  font-size: xx-large;
  margin: 1rem;
  width: auto;
}
.groundDetails h2 {
  box-shadow: rgb(230, 92, 42) 0px 4px 4px;
  color: black(230, 92, 42);
  font-size: xx-large;
  margin: 1rem;
  width: auto;
}
.groundDetails button {
  background-color: white;
  border: rgb(230, 92, 42) 1px solid;
  box-shadow: rgb(230, 92, 42) 0px 2px 2px;
  cursor: pointer;
  margin: 1rem;
}
.groundDetails div {
  margin: 0.5rem;
}